<ion-view title="Home">
  <ion-content class="has-header padding">
	  <div class="list card">
	  	<div class="item item-text-wrap">
	  		<div style="text-align: center;">
	        	<div style="margin: 0 auto; display: inline-block;">
	  				<img style="width:70%;" src="http://projectdirect.trihydro.com/Secure/App_Themes/Trihydro/Images/new_logo_no_corp_big.png"/>	  				
	  			</div>
	  			<div>
	  				<h2>WorkCare Injury Accident Program</h2>
	  			</div>
	  		</div>
	  	</div>  	
	  	<div class="item" style="font-style:italic; color: DarkRed;">
	  		<div style="text-align: center;">
	        	<div style="margin: 0 auto; display: inline-block;">
	  					<b>BE AWARE AND 3D SAFE</b>	  					
	  			</div>
	  		</div>
		</div>
		<div class="item" >
		  		<div class="row">
		  			<b>3D Driving</b>
	        	</div>
		    	<div class="row">
		    		<ul style="list-style: disc; padding-left:30px;">
				    	<li>Defensive</li>
				    	<li>Decisive</li>
				    	<li>Dependable</li>
		    		</ul>
		    	</div>		  		
		  		<div class="row">
		  			<b>3D Safe</b>
		    	</div>
		    	<div div class="row">	
		    		<ul style="list-style: disc; padding-left:30px;">
				    	<li>Determine the Hazards</li>
		    			<li>Develope the Procedures</li>
		    			<li>Deploy the Actions</li>
		    		</ul>
		    	</div>
		</div>  	  	
	    	<div class="item item-text-wrap" style="font-style:italic; color: DarkRed;">
	    		<div style="text-align: center;">
	        		<div style="margin: 0 auto; display: inline-block;">
	    				<b>STOP WORK IF NECESSARY</b>
	    			</div>
	    		</div>
	    	</div>
	    </div>
  </ion-content>
</ion-view>
