<ion-view title="Contact Numbers">
  <ion-content class="has-header padding">        
    <div class="card">
        <div class="item item-divider">
            Medical Monitoring
        </div>
        <div class="item item-text-wrap">
            <a class="button icon-left ion-ios7-telephone button-assertive button-outline" ng-href="tel: {{MedicalMonitoring}}">
                Call (800) 455-6155
            </a>
        </div>
        <div class="item item-divider">   
            Emergency/Incident     
        </div>
        <div class="item item-text-wrap">
            <a class="button icon-left ion-ios7-telephone button-assertive button-outline" ng-href="tel: {{MedicalMonitoring}}">
                Call (800) 455-6155
            </a>
        </div>
        <div class="item item-divider">   
            Trihydro Corporation - Safety Response 
        </div>
        <div class="item item-text-wrap">
            <a class="button icon-left ion-ios7-telephone button-assertive button-outline" ng-href="tel: {{Trihydro}}">
                Call (307) 755-4888
            </a>
            <br/>
            <br/>
            <p>
                If the call is not answered, leave a detailed message and your contact information. 
                This message will be forwarded to the Safety Response Team. 
                A member of the Safety Response Team will contact you as soon as possible. 
            </p>
        </div>
    </div>
    <br/>
    
    <div>
        
    </div>

  </ion-content>
</ion-view>
